<title>{{ page_title }}</title>

<div class="col-md-3">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/stat">Ваша статистика</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <h1>Число ошибок: {{ test_result.err_count}} </h1>
  </div>
  <div class="row">
    <h1>Время: {{ test_result.test_time}} </h1>
  </div>
  <button ng-click="test_ret()">Попробовать ещё</button>
</div>
