<title>{{ page_title }}</title>

<div class="col-md-4">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/tests">Главная</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  {{test_params.name}}
  </br>
  {{test_params.text}}
</div>
