<title>{{ page_title }}</title>

<div class="col-md-4">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/tests">Главная</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
          <li><a ng-click="get_positions()">Результат</a></li>
        </ul>
      </div>
    </div>
      <div class="col-md-12">
        <span class="copyright">Made by Shevchenko A.A.</span>
      </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center">00:00:00</h2>
    </div>
  </div>
  <div class="row">
    <div class="simpleDemo">
      <ul dnd-list="test_list">
        <li ng-repeat="item in test_list"
            dnd-draggable="item"
            dnd-moved="test_list.splice($index, 1)"
            dnd-effect-allowed="move">
            {{item.text_part}}
        </li>
      </ul>
    </div>
  </div>
</div>
