<title>{{ page_title }}</title>

<div class="col-md-3">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/stat">Ваша статистика</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="get_result" ng-click="get_positions()">Результат</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" id="timer">{{time}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="simpleDemo">
      <ul dnd-list="test_list">
        <li ng-repeat="item in test_list"
            dnd-draggable="item"
            dnd-moved="test_list.splice($index, 1)"
            dnd-effect-allowed="move">
            {{item.text_part}}
        </li>
      </ul>
    </div>
  </div>
</div>
