<title>{{ page_title }}</title>

<div class="col-md-3">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/stat">Ваша статистика</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <h3>Номер попытки</h3>
      </div>
      <div class="col-md-3">
        <h3>Номер теста</h3>
      </div>
      <div class="col-md-3">
        <h3>Время</h3>
      </div>
      <div class="col-md-3">
        <h3>Число ошибок</h3>
      </div>
    </div>
  </div>
<hr>
  <div class="row" ng-repeat="i in test_results">
    <div class="col-md-12">
      <div class="col-md-3">
        {{$index + 1}}
      </div>
      <div class="col-md-3">
        {{i.test_id}}
      </div>
      <div class="col-md-3">
        {{i.test_time}}
      </div>
      <div class="col-md-3">
        {{i.err_count}}
      </div>
    </div>
  </div>
</div>
