<title>{{ page_title }}</title>

<div class="col-md-4">
  <div class="fixed_sidebar">
    <div class="row">
      <div class="col-md-12">
        <h1 class="logo_title">Тестирование</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="/#/tests">Главная</a></li>
          <li><a href="/#/tests">Список тестов</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="copyright">Made by Shevchenko A.A.</span>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <h3>Номер теста</h3>
      </div>
      <div class="col-md-8">
        <h3>Название</h3>
      </div>
    </div>
  </div>
<hr>
  <div class="row" ng-repeat="test in test_list">
    <div class="col-md-12">
      <div class="col-md-4">
        <p>{{test.id}}</p>
      </div>
      <div class="col-md-8">
        <a href="/#/tests/{{test.id}}">{{test.name}}</a>
      </div>
    </div>
  </div>
</div>
