body{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.copyright{
  font-size: 12px;
  color: #BBBBBB;
  display: block;
  position: fixed;
  text-align: center;
  left: 100px;
  bottom: 10px;
}

.login_container{
  position: relative;
  display: block;
  width: 400px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  margin-top: 20%;
}

  .login_container{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
    color: rgb(49, 43, 44);
  }

  .login_container h1{
    text-transform: uppercase;
  }

  .login_container input{
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px;
    margin-top: 20px;
    padding: 10px;
  }

  .login_container button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgb(49, 43, 44);;
    color: white;
    display: block;
    height: 40px;
    width: 200px;
    line-height: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
  }

.fixed_sidebar{
  position: fixed;
  display: block;
  left:0;
  width: 350px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

  .fixed_sidebar ul {
    list-style: none;
  }

    .fixed_sidebar ul li{
      cursor: pointer;
      display: block;
      padding: 10px;
      color: #BBBBBB;
    }

    .fixed_sidebar ul li a:hover{
      color: black;
    }

    .fixed_sidebar ul li a{
      color: #BBBBBB;
      display: block;
      text-decoration: none;
      line-height: 20px
    }

    .fixed_sidebar .logo_title{
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: center;
    }

.drag-element{
  background-color: #BBBBBB;
  color: white;
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  cursor: pointer;
  border: none;
  border-radius: 5px;
}


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
